.ReactMPC__container {
  align-items: center;
  background-color: #eeefdb;
  background: radial-gradient(circle, #eeefdb 50%, #c6c7b3 80%);
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.ReactMPC__title {
  color: #43454d;
  font-size: 1.6em;
}
.ReactMPC__title span {
  color: #e30b16;
  font-family: "Bree Serif";
}

.ReactMPC__link {
  color: #43454d;
  display: block;
  padding-top: 12px;
}
